:root {
    --color1: #000000;
    --color2: #a083a0;
    --color3: #ccdcec;
    --color4:  #042b5e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--color1); 
    font-family: Helvetica, Arial, sans-serif;
    background-color: var(--color3);
}

.title {
    font-size: 50px;
    margin: 10px 5px 35px 100px;
    width: auto;
    /*padding-bottom: 20px;*/
    color: var(--color1);
    border-right: 3px solid;
    display: flex;
    /*padding-right: 20px;*/
    padding: 20px 20px 20px 20px;
}


/*Header Section*/
header {
    padding: 20px 35px; /*put in the 20x35 header*/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/blue-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--color2);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--color2);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--color1);
    color: var(--color2);
    border-radius: 15px;
    text-shadow: none;
}

/*End of header section*/

/*BEGIN HERO STYLING*/
.hero {
    background-image: url("../images/blue-background.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-position: 80%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
}
.hero h2 {
    display: flex;
    position: relative;
    color: var(--color2);
    bottom: 0px;
    padding: 50px;
}
/*END HERO STYLING*/

/*About Me Section*/

.bio {
    display: flex;
    margin-top: 50px;
}

.statement {
    padding: 25px;
    line-height: 1.3;
}
.text-left {
    text-align: left;
}

/*end About me section/

/*my work section*/
.work {
    display: flex;
    margin-top: 50px;
}

.bottom-left {
    position: relative;
    bottom: 50px;
    left: 2px;
    text-align: left;
    background: var(--color1);
    width: 90px;
    color: var(--color2);
    border-radius: 0 15px 0 0;
}
.main-img:hover {
    opacity: 0.5;
}

.main-img img {
    margin: 10px auto;
    max-width: 700;
    border: 3px var(--color1) solid;
}

.image2:hover {
    opacity: 0.5;
}
.image2 img {
    margin: 10px auto;
    width: 350;
    height: 300;
    border: 3px var(--color1) solid;
}

.image3:hover {
    opacity: 0.5;
}

.image3 img {
    background: white;
    margin: 10px auto;
    width: 350;
    height: 300;
    border: 3px var(--color1) solid;
}

.contact a {
    text-decoration: none;
    color: var(--color1);
}
.contact {
    margin: 30px 0 30px auto;
}

.contact ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.contact ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}